:root {
    --border-color: #ccc;
    --box-shadow-color: rgba(0, 0, 0, 0.1);
    --background-color: #fff;
    --title-color: #333;
    --primary-color: #007BFF;
    --secondary-color: #0056b3;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 16px;
    font-family: Verdana;
}

body{
    height: 100vh;
    width: 100vw;
}

.buttons{
    display: flex;
    width: 100%;
    justify-content: space-between;
}